<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1> Loan </h1>
  <form action="/loans" method="POST">
    <label for="">
      Buku
      <select name="bookId">
        <% books.forEach(book => { %>
          <option value="<%= book.id %>">
            <%= book.title %>
          </option>
          <% }) %>
      </select>
    </label>
    <label for="">Borrower's Name
      <input type="text" name="name" value="">
    </label>
    <label for="">Borrower's Gender
      <input type="text" name="gender" value="">
    </label>

    <label for="">

      Checkboz
      <input type="checkbox" name="tags" value="1"> Indonesia
      <input type="checkbox" name="tags" value="2"> Singapore
      <input type="checkbox" name="tags" value="3"> Korean
      <input type="checkbox" name="tags" value="4"> Western


    </label>

    <input type="submit" value="Submit">
  </form>
</body>

</html>